@media only screen and (max-width: 720px){
    body{
        background: url("./cartwright_background.jpg");
        background-size: 1440px 1600px;
        background-repeat: no-repeat;
        align-items: center;
        text-align: center;
    }
    .n-wrapper{
        justify-content: space-evenly;
        display: flex;
        margin-top: 3rem;
        margin-bottom: 12rem;
    }
    .n-left{
        display: flex;
        justify-content: space-between;
        margin-left: -5rem;
    }
    .n-right{
        margin-right: -5rem;
    }
    .reveal_logo{
        margin-top: 30rem;
        margin-bottom: 0rem;
    }
    a{
        text-decoration: none;
    }
    h1{
        font-family: fantasy;
        font-style: oblique;
        font-size: 3.5rem;
        color: white; 
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: 2rem;
        color: white;
        max-width: 100%;
        margin-left: 4rem;
    }
    h2{
    font-family: cursive;
    font-style: oblique;
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
    }
    h3{
        display: none;
    }
    .input{
        border: 0.5rem thin gray;
        border-radius: 12px;
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        width: 25rem;
        height: 4rem;
        margin-top: 2rem;
    }
    .submit{
        border: none;
        border-radius: 12px;
        background-color: rgb(165, 131, 87);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        width: 10rem;
        height: 4rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
}
@media only screen and (min-width: 992px){
body{
    background: url("./cartwright_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}
h2{
    font-family: cursive;
    font-style: oblique;
    font-size: 2rem;
    color: white;
    margin-top: 0.5rem;
}
h3{
    display: flex;
    font-family: cursive;
    font-style: oblique;
    font-size: 2rem;
    color: white;
}
.n-wrapper{
    justify-content: space-evenly;
    display: flex;
    gap: 4rem;
}
.n-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    margin-left: -3rem;
    
}
.n-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.home{
    display: none;
}
a{
    margin-top: 1rem;
}
.reveal_logo{
   margin-top: 9.5rem;
    margin-bottom: 0;
}
.experts{
    margin-top: 5rem;
    
}
}
